*~
*#.*
.config/blender/*
.config/cmus/*
.config/dconf/*
.config/hardinfo/*
.config/lpass/*
.config/mps-youtube/*
.config/mpv/*
.config/obs-studio/*
.config/yay/*
.config/QtProject.conf
.config/mypaint/*
.config/pulse/*
.config/qutebrowser/*
.config/AndryBlack/*
.config/Code - OSS/*
.config/NuGet/*
.config/OpenTabletDriver/*
.config/VSCodium/*
.config/bleachbit/*
.config/discord/*
.config/godot/*
.config/gtk-3.0/bookmarks
.config/inkscape/*
.config/systemd/*
.nano/search_histor
.config/chromium/
.config/htop/
.config/mimeapps.list
.config/gtk*/*
.config/Raspberry Pi/
.config/VintagestoryData/
.config/fontforge/
.config/karboncalligraphyrc
.config/kritadisplayrc
.config/kritarc
.config/libreoffice/
.gitmodules
.nano/search_history
.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/settings.ini
/.config/GIMP/
/.config/libreoffice/
.config/Thunar/
.config/cataclysm-dda/
.config/ksnip/
.config/spotify/
.config/xfce4/