set linenumbers
set autoindent
set historylog
set mouse
set softwrap
set tabsize 4
set constantshow
set fill 2
set regexp
set whitespace ">."
set nonewlines
set tabstospaces
set multibuffer

# Key bindings
unbind ^k main
unbind ^u main
unbind ^w main

bind ^o insert main
bind ^w writeout main
bind ^q exit main
bind ^a help main

bind m-p prevword main
bind m-n nextword main
bind ^b firstline main
bind ^e lastline main
bind ^p curpos main
bind ^l gotoline main
bind ^j justify main

bind ^Space mark main
bind ^x cut main
bind ^c copy main
bind ^v paste main

bind ^f whereis main
# bind ^g searchagain main
bind ^h replace main

bind ^z undo main
bind ^y redo main

bind m-a nohelp main
# bind m-l constupdate main

# Custom interface colours
set titlecolor brightgreen,normal
set numbercolor yellow,normal
set statuscolor red,normal

# Add colour syntax
# Grabbed from https://github.com/scopatz/nanorc
include "~/.nano/c.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/markdown.nanorc"
include "~/.nano/json.nanorc"
include "~/.nano/nanorc.nanorc"